[submodule "pymint"]
	path = pymint
	url = https://github.com/CIDARLAB/pyMINT
	branch = master
[submodule "pyparchmint"]
	path = pyparchmint
	url = https://github.com/CIDARLAB/pyparchmint
	branch = master
[submodule "dafd"]
	path = dafd
	url = https://github.com/CIDARLAB/DAFD
	branch = Neptune2026
